body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 1%;
}

h1, h3, h4, h6, h2{
    text-align: center;
    color: white;
}

h1{
    font-size: 60px;
}
h2{
    margin-top: 1%;
    font-size: 40px;
}
h6{
    font-size: 20px;
    color: #394B52;
    margin: 3%;
}
h4{
    font-size: 40px;
    margin-bottom: 1%;
}

ul{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 600px;
    min-height: 300px;
    border-radius: 10px;
}

li{
    align-items: center;
    width: 500px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 3%;
    background-color: azure;
    margin: 1%;
    cursor: pointer;
}

.correct{
    background-color: lightgreen;
}
.wrong{
    background-color: lightcoral;
}