body{
  background-color: #1E1E2F;
}

.button{
  width: 258px;
  height: 79px;
  border: 1px solid #3A3A4A;
  border-radius: 12px;
  background-color: #64B5F6;
  color: #EAEAEA;
  font-size: 25px;

  transition: 1s;
}

.button:hover{
  background-color: #64b4f686;
}