body{
  background-color: #729B79;
}

.button{
  width: 258px;
  height: 79px;
  border: 1px solid #3A3A4A;
  border-radius: 12px;
  background-color: #26413c;
  color: #EAEAEA;
  font-size: 25px;

  transition: 1s;
}

.button:hover{
  background-color: #03120E;
}